<div class="layout layout-stack-sm layout-main-left">

          <div class="col-sm-4 col-sm-push-8 layout-sidebar">

            <div class="well text-center">
              <h4>Ville: <%= @prospect.ville.upcase %> <%= @prospect.codepostal %></h4>
              <p>Adresse: <%= @prospect.adresse %></p>
	      <p><i class="fa fa-phone fa-5x text-muted"></i></p>
	      <h4>Telephone 1:&nbsp;&nbsp; <%= @prospect.tel1 %></h4>		
              <a href="javascript:;" class="btn btn-secondary">Afficher le script</a>	
            </div> <!-- /.well -->

            <br>

            <div class="portlet">

              <h4>Navigation</h4>

	    <%= link_to 'Retour prospect', prospect_path(@prospect), class: 'btn btn-secondary btn-lg btn-block', data: { no_turbolink: true } %>	

          </div> <!-- /.portlet -->
          
        </div> <!-- /.layout-sidebar -->

	

        <div id="faq-questions" class="col-sm-8 col-sm-pull-4 layout-main">

          <h2 class="">Qualification du prospect</h2>
	  <%= render 'form' %>
          
          </div> <!-- /.faq-questions -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->
