<p id="notice"><%= notice %></p>

<h1>Listing Produits</h1>

<table>
  <thead>
    <tr>
      <th>Referenceproduit</th>
      <th>Nonproduit</th>
      <th>Origineproduit</th>
      <th>Conditionnementproduit</th>
      <th>Gammeproduit</th>
      <th>Conseilutilisation</th>
      <th>Prixventeproduit</th>
      <th>Prixachatproduit</th>
      <th>Categoriesproduit</th>
      <th colspan="4">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @produits.each do |produit| %>
      <tr>
        <td><%= produit.referenceproduit %></td>
        <td><%= produit.nonproduit %></td>
        <td><%= produit.origineproduit %></td>
        <td><%= produit.conditionnementproduit %></td>
        <td><%= produit.gammeproduit %></td>
        <td><%= produit.conseilutilisation %></td>
        <td><%= produit.prixventeproduit %></td>
        <td><%= produit.prixachatproduit %></td>
        <td><%= produit.categoriesproduit_id %></td>
        <td><%= link_to Categoriesproduit.find(produit.categoriesproduit_id).nomcategorie, categoriesproduit_path(produit.categoriesproduit_id) %></td>
        <td><%= link_to 'Show', produit %></td>
        <td><%= link_to 'Edit', edit_produit_path(produit) %></td>
        <td><%= link_to 'Destroy', produit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produit', new_produit_path %>
<br>

