<p id="notice"><%= notice %></p>

<p>
  <strong>Referenceproduit:</strong>
  <%= @produit.referenceproduit %>
</p>

<p>
  <strong>Nonproduit:</strong>
  <%= @produit.nonproduit %>
</p>

<p>
  <strong>Origineproduit:</strong>
  <%= @produit.origineproduit %>
</p>

<p>
  <strong>Conditionnementproduit:</strong>
  <%= @produit.conditionnementproduit %>
</p>

<p>
  <strong>Gammeproduit:</strong>
  <%= @produit.gammeproduit %>
</p>

<p>
  <strong>Conseilutilisation:</strong>
  <%= @produit.conseilutilisation %>
</p>

<p>
  <strong>Prixventeproduit:</strong>
  <%= @produit.prixventeproduit %>
</p>

<p>
  <strong>Prixachatproduit:</strong>
  <%= @produit.prixachatproduit %>
</p>

<p>
  <strong>Categoriesproduit:</strong>
  <%= @produit.categoriesproduit_id %>
</p>

<%= link_to 'Edit', edit_produit_path(@produit) %> |
<%= link_to 'Back', produits_path %>
<br>
<%= link_to image_tag(@produit.image.url(:med)), @produit.image.url %>

<%= image_tag @produit.image.url %>
<%= image_tag @produit.image.url(:medium) %>
<%= image_tag @produit.image.url(:thumb) %>
