<p id="notice"><%= notice %></p>

<p>
  <strong>Subtotal:</strong>
  <%= @order.subtotal %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @order.shipping %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_prospect_order_path(@prospect, @order) %> |
<%= link_to 'Back', prospect_orders_path(@prospect) %>
