

<div class="row">
    <div class="col-xs-8">
      <h4><%= produit.nonproduit %></h4>
      <h4 class="text-left">Prix total: <span style="color: green"><%= number_to_currency order_item.total_price, unit: "€", separator: ",", delimiter: "", format: "%n %u" %></span></h4>
    </div>
    <div class="col-xs-4">
      
      <%= form_for order_item, remote: true do |f| %>
        <h4 class="text-right">Prix unitaire: <span style="color: green"><%= number_to_currency order_item.unit_price, unit: "€", separator: ",", delimiter: "", format: "%n %u" %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :produit_id, value: produit.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Quantit&eacute;".html_safe, class: "btn btn-primary" %>
              
              <%= link_to "Supprimer", order_item, { data: { confirm: "Etes-vous sure de vouloir supprimer '#{order_item.produit.nonproduit}' de la commande?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <br>
        
      <% end %>
    </div>
</div>
