<%= form_for(@categoriesproduit) do |f| %>
  <% if @categoriesproduit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoriesproduit.errors.count, "error") %> prohibited this categoriesproduit from being saved:</h2>

      <ul>
      <% @categoriesproduit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nomcategorie %><br>
    <%= f.text_field :nomcategorie %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
