<%= form_for(@categoriesproduit) do |f| %>
  <% if @categoriesproduit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoriesproduit.errors.count, "error") %> prohibited this categoriesproduit from being saved:</h2>

      <ul>
      <% @categoriesproduit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nomcategorie, 'Nom', class: 'col-md-3 control-label' %><br>
    <%= f.text_field :nomcategorie, class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :descriptioncat, 'D&eacute;scription'.html_safe, class: 'col-md-3 control-label' %><br>
    <%= f.text_area :descriptioncat, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Sauvegarder', class: 'btn btn-danger' %>
  </div>
<% end %>

