<p id="notice"><%= notice %></p>



          <div class="portlet portlet-default">

            <div class="portlet-header">
              <h4 class="portlet-title">
                Cat&eacute;gories de produits
              </h4>
            </div> <!-- /.portlet-header -->

            <div class="portlet-body">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nom Cat&eacute;gorie</th>
                    <th class="text-center">D&eacute;scription</th>
                    <th colspan="2" class="text-center">Action</th>
                    <th class="text-center">Produits</th>
                  </tr>
                </thead>

                <tbody>
    <% @categoriesproduits.each do |categoriesproduit| %>
      <tr>
 	<td><%= categoriesproduit.id %></td>
        <td><%= categoriesproduit.nomcategorie.upcase %></td>
	<td><% if categoriesproduit.descriptioncat.present? %><%= categoriesproduit.descriptioncat %><% else %>Veuillez ajouter une d&eacute;scription &agrave; la cat&eacute;gorie.<% end %></td>	
        <td class="text-center"><%= link_to '&Eacute;diter'.html_safe, edit_categoriesproduit_path(categoriesproduit), class: 'btn btn-warning btn-sm'  %></td>
        <td class="text-center"><%= link_to 'D&eacutetruire'.html_safe, categoriesproduit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        <td class="text-center"><%= link_to 'Produits'.html_safe, categoriesproduit,data: {no_turbolink: true}, class: 'btn btn-info btn-sm'  %></td>
      </tr>
    <% end %>
  </tbody>
              </table>

            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->
          
  <%= link_to 'Nouvelle cat&eacute;gorie de produit'.html_safe, new_categoriesproduit_path, class: 'btn btn-secondary btn-lg btn-block' %>
