<!DOCTYPE html>
<html>
<head>
  <title>Amelie</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width initial-scale=1">
  
</head>
<body>






<div id="wrapper">

  <header class="navbar" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>
	<%= link_to image_tag("logo.png", alt:"nom societe"), root_path, class: "navbar-brand navbar-brand-img" %>	
        
      </div> <!-- /.navbar-header -->

      <nav class="collapse navbar-collapse" role="navigation">

        <ul class="nav navbar-nav navbar-left">

          <li class="dropdown navbar-notification">

            <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell navbar-notification-icon"></i>
              <span class="visible-xs-inline">&nbsp;Notifications</span>
              <b class="badge badge-primary">3</b>
            </a>

            <div class="dropdown-menu">

              <div class="dropdown-header">&nbsp;Notifications</div>

              <div class="notification-list">

                <a href="./page-notifications.html" class="notification">
                  <span class="notification-icon"><i class="fa fa-cloud-upload text-primary"></i></span>
                  <span class="notification-title">Notification Title</span>
                  <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                  <span class="notification-time">20 minutes ago</span>
                </a> <!-- / .notification -->

                <a href="./page-notifications.html" class="notification">
                  <span class="notification-icon"><i class="fa fa-ban text-secondary"></i></span>
                  <span class="notification-title">Notification Title</span>
                  <span class="notification-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span>
                  <span class="notification-time">20 minutes ago</span>
                </a> <!-- / .notification -->

                <a href="./page-notifications.html" class="notification">
                  <span class="notification-icon"><i class="fa fa-warning text-tertiary"></i></span>
                  <span class="notification-title">Storage Space Almost Full!</span>
                  <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                  <span class="notification-time">20 minutes ago</span>
                </a> <!-- / .notification -->

                <a href="./page-notifications.html" class="notification">
                  <span class="notification-icon"><i class="fa fa-ban text-danger"></i></span>
                  <span class="notification-title">Sync Error</span>
                  <span class="notification-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span>
                  <span class="notification-time">20 minutes ago</span>
                </a> <!-- / .notification -->

              </div> <!-- / .notification-list -->

              <a href="./page-notifications.html" class="notification-link">View All Notifications</a>

            </div> <!-- / .dropdown-menu -->

          </li>



          <li class="dropdown navbar-notification">

            <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope navbar-notification-icon"></i>
              <span class="visible-xs-inline">&nbsp;Messages</span>
            </a>

            <div class="dropdown-menu">

              <div class="dropdown-header">Messages</div>

              <div class="notification-list">

                <a href="./page-notifications.html" class="notification">
                  <div class="notification-icon"><%= image_tag("avatar-3-md.jpg") %></div>
                  <div class="notification-title">New Message</div>
                  <div class="notification-description">Praesent dictum nisl non est sagittis luctus.</div>
                  <div class="notification-time">20 minutes ago</div>
                </a> <!-- / .notification -->

                <a href="./page-notifications.html" class="notification">
                  <div class="notification-icon"><%= image_tag("avatar-3-md.jpg") %></div>
                  <div class="notification-title">New Message</div>
                  <div class="notification-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                  <div class="notification-time">20 minutes ago</div>
                </a> <!-- / .notification -->

                <a href="./page-notifications.html" class="notification">
                  <div class="notification-icon"><%= image_tag("avatar-4-md.jpg") %></div>
                  <div class="notification-title">New Message</div>
                  <div class="notification-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                  <div class="notification-time">20 minutes ago</div>
                </a> <!-- / .notification -->

                <a href="./page-notifications.html" class="notification">
                  <div class="notification-icon"><%= image_tag("avatar-5-md.jpg") %></div>
                  <div class="notification-title">New Message</div>
                  <div class="notification-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                  <div class="notification-time">20 minutes ago</div>
                </a> <!-- / .notification -->

              </div> <!-- / .notification-list -->

              <a href="./page-notifications.html" class="notification-link">View All Messages</a>

            </div> <!-- / .dropdown-menu -->

          </li>


          <li class="dropdown navbar-notification empty">

            <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-warning navbar-notification-icon"></i>
              <span class="visible-xs-inline">&nbsp;&nbsp;Alerts</span>
            </a>

            <div class="dropdown-menu">

              <div class="dropdown-header">Alerts</div>

              <div class="notification-list">
                
                <h4 class="notification-empty-title">No alerts here.</h4>
                <p class="notification-empty-text">Check out what other makers are doing on Explore!</p>     

              </div> <!-- / .notification-list -->

              <a href="./page-notifications.html" class="notification-link">View All Alerts</a>

            </div> <!-- / .dropdown-menu -->

          </li>          

        </ul>



        <ul class="nav navbar-nav navbar-right">    

          <li>
            <%= link_to 'Accueil', root_path %>
          </li>    
          <li>
            <%= link_to 'Boutique', boutiques_index_path %>
          </li>  
          <li>
            <a href='#'>Utilisateurs</a>
          </li>    
	  <li>
            <p>Mail utilisateur</p>
          </li>  	
          <li class="dropdown navbar-profile">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
	      <%= image_tag("avatar-4-sm.jpg", :class => "navbar-profile-avatar") %>	
              <span class="visible-xs-inline">mail utilisateur &nbsp;</span>
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu" role="menu">
	      <li>
		<a href="#">
		<i class="fa fa-user"></i> 
                  &nbsp;&nbsp;Mon Profile
		</a>                  
              </li>
	      <li>
		<a href="#">
		<i class="fa fa-edit"></i> 
                  &nbsp;&nbsp;Editer Mon Profile
		</a>                  
              </li>	
              <li class="divider"></li>
              <li>
		<a href="#">
		<i class="fa fa-sign-out"></i>
		&nbsp;&nbsp;Deconexion
		</a>
              </li>
            </ul>

          </li>

        </ul>

      </nav>

    </div> <!-- /.container -->

  </header>


  <div class="mainnav ">

    <div class="container">

      <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <nav class="collapse mainnav-collapse" role="navigation">

        <form class="mainnav-form" role="search">
          <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search">
          <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
        </form>

        <ul class="mainnav-menu">

          <li class="dropdown active">
          	<a href="./index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            
          	Prospects
          	<i class="mainnav-caret"></i>
          	</a>

          	<ul class="dropdown-menu" role="menu">
              <li>
                 <%= link_to prospects_path, data: { no_turbolink: true } do %>
                <i class="fa fa-dashboard dropdown-icon "></i> 
                Liste des prospects
                <% end %>
              </li>

              <li>
                <%= link_to fichequalifier_index_path, data: { no_turbolink: true } do %>
                <i class="fa fa-dashboard dropdown-icon "></i> 
                Fiches prospects qualifi&eacute;es
                <% end %>
              </li>
          	</ul>
          </li>


          <li class="dropdown ">

            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
              
            Clients
            <i class="mainnav-caret"></i>					
            </a>

            <ul class="dropdown-menu" role="menu">

              <li>
                <a href="./components-tabs.html">
                <i class="fa fa-bars dropdown-icon "></i> 
                Tabs &amp; Accordions
                </a>
              </li>

              <li>
                <a href="./components-popups.html">
                <i class="fa fa-calendar-o dropdown-icon "></i> 
                Popups &amp; Alerts
                </a>
              </li>

              <li>
                <a href="./form-plugins.html">
                <i class="fa fa-plug dropdown-icon "></i> 
                Forms Plugins
                </a>
              </li>

              <li>
                <a href="./components-datatables.html">
                <i class="fa fa-table dropdown-icon "></i> 
                Data Tables
                </a>
              </li>

              <li>
                <a href="./components-charts.html">
                <i class="fa fa-bar-chart-o dropdown-icon "></i> 
                Charts
                </a>
              </li>		  
            </ul>
          </li>


          <li class="dropdown ">

            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
              
            Produits
            <i class="mainnav-caret"></i>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to categoriesproduits_path do %>
                <i class="fa fa-list-ul dropdown-icon "></i> 
                Cat&eacute;gories de produit
                <% end %>
              </li>

              <li>
                <%= link_to produits_path, data: { no_turbolink: true }  do %>
                <i class="fa fa-barcode dropdown-icon "></i> 
                Tous les produits
                <% end %>
              </li>

            </ul>
          </li>          

        </ul>

      </nav>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->
   

    <div class="content">

      <div class="container">
      

<%= yield %>


    </div> <!-- /.container -->

  </div> <!-- .content -->

</div> <!-- /#wrapper -->

<footer class="footer">
  <div class="container">
    <p class="pull-left">Copyright &copy; 2013-15 Jumpstart Themes.</p>
  </div>
</footer>


</body>
</html>
